*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
}
header{
    width: 100%;
    padding: 40px 60px;

}
.logo > a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 600;


}